body{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
  font-size: 50px;
  text-transform: uppercase;

  color: #303030;
  font-weight: 600;
}

h2{
color:#303030
}

legend{
    font-size: 15px;
    text-transform: uppercase;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  #quemSomos{
    background-color: #9D5A4D;
  }

  #faleConosco{
    color: black;
    text-align: left;
  }

  footer{
    color:antiquewhite;
  }
